.navbar-custom {
    background-color: #668cb6;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

}

#logo:hover {
    color: #008000;
    text-decoration: none;
}

.center {
    text-align: center;
}
